<footer class="footer-container">
  <div class="left-part">
    <p class="left-text">
      Una idea de <span class="everis-color">everis</span> creada desde casa,
      para <span class="orange-color">Orange</span>, con mucho L<span
        class="orange-color"
        >o</span
      >ve.
    </p>
  </div>
  <div class="right-part">
    <img id="everis-logo" src="assets\logos\everis.svg" />
    <div id="separator"></div>
    <img id="orange-logo" src="assets\logos\orange.svg" />
  </div>
</footer>
