<div class="collaborators-container">
  <div class="center-align">
    <h1 class="collaborators-title">¿Hablamos?</h1>
  </div>
  <div id="collaborators" class="container">
    <div class="row">
      <div
        *ngFor="let collaborator of collaborators"
        class="col-sm center-align"
      >
        <img src="{{ collaborator.imgPath }}" />
        <h1 class="title">{{ collaborator.title }}</h1>
        <h2 class="subtitle">
          {{ collaborator.subtitle }}
        </h2>
      </div>
    </div>
  </div>
  <div id="action-buttons">
    <a href="https://google.com" target="_blank" class="white-btn">Descargar propuesta</a>
    <a href="https://google.com" target="_blank" class="orange-btn">Contacta con nosotros</a>
  </div>
</div>
