<div id="questions" class="questions-container center-align">
  <h1 class="title">Preguntas</h1>
  <p class="description">
    Ya conoces todos los servicios y a los perfiles más adecuados. Ahora,
    ¿tienes claro qué técnica aplicar en cada servicio?, ¿qué perfil es el
    idóneo en cada técnica? o ¿cuánto tiempo es el adecuado para cada dinámica?
    ¡Te retamos con nuestro juego!
  </p>
  <img class="floating-left" src="assets/img/floating/img-baraja.png" />
  <img class="floating-right" src="assets/img/floating/img-maker.png" />
</div>
