<div class="questions-container center-align">
  <h1 class="title">Preguntas</h1>
  <p class="description">
    Ya conoces nuestros servicios y a los perfiles adecuados. Ahora, ¿tienes
    claro qué técnica aplicar en cada momento?, ¿qué perfil es el idóneo en cada
    servicio? o ¿cuánto tiempo es el adecuado para dinámica? ¡Te retamos con un
    juego!
  </p>
  <img class="floating-left" src="assets/img/floating/img-baraja.png" />
  <img class="floating-right" src="assets/img/floating/img-maker.png" />
</div>
