.questions-container {
  padding: 20px 222px;
  height: 600px;
  position: relative;
  .title {
    font-family: 'Mont-Bold';
    font-size: 70px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ff7900;
    margin-top: 203px;
  }
  .description {
    width: 997px;
    font-size: 26px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
  .floating-left {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -5;
  }
  .floating-right {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -5;
  }
}
