<div class="hover-cards-container">
  <div id="hover-tips" class="container">
    <div class="instructions-container">
      <ng-lottie
        width="1.8125rem"
        height="1.625rem"
        [styles]="{ margin: '1rem 0.5rem 0 4rem' }"
        [options]="{ path: 'assets/animations/curved-arrow.json' }"
      ></ng-lottie>
      <p class="text">Descubre cada tipo de preguntas</p>
    </div>
    <div class="row center-align">
      <div class="col-4">
        <img
          class="card-hover"
          src="assets/img/hover-cards/img-carta-azul-abierta@2x.png"
        />
      </div>
      <div class="col-4">
        <img
          class="card-hover"
          src="assets/img/hover-cards/img-carta-amarilla-abierta@2x.png"
        />
      </div>
      <div class="col-4">
        <img
          class="card-hover"
          src="assets/img/hover-cards/img-carta-verde-abierta@2x.png"
        />
      </div>
    </div>
  </div>
  <div class="card-cover"></div>
</div>
