<div class="hover-cards-container">
  <div id="hover-tips" class="container">
    <div class="row">
      <div class="col-sm center-align">
        <img class="card-hover" src="assets\img\hover1.png" />
      </div>
      <div class="col-sm center-align">
        <img class="card-hover" src="assets\img\hover1.png" />
      </div>
      <div class="col-sm center-align">
        <img class="card-hover" src="assets\img\hover1.png" />
      </div>
    </div>
  </div>
  <div class="card-cover"></div>
</div>
