<div class="product-container">
  <div id="collaborators" class="container">
    <div class="row center-align">
      <div class="col-12">
        <h1 class="title">¿Quieres el juego completo para tu equipo?</h1>
      </div>
      <div class="col-12">
        <a href="https://google.com" target="_blank" class="orange-btn"
          >Lo quiero</a
        >
      </div>
      <div class="col-12">
        <img class="render" src="https://via.placeholder.com/1000x720" />
      </div>
    </div>
  </div>
</div>
