.product-container {
  background-color: var(--black-color);
  .title {
    width: 788px;
    font-family: 'Mont-Bold';
    font-size: 48px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.08;
    letter-spacing: normal;
    text-align: center;
    color: #ff7900;
    margin-top: 80px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
  }
  .render{
      margin-top: 100px;
      margin-bottom: 160px;
  }
}
