.product-container {
  background-color: var(--black-color);
  .title {
    font-family: Mont;
    font-size: 48px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.08;
    letter-spacing: normal;
    text-align: center;
    color: #ff7900;
    padding-top: 80px;
    padding-bottom: 60px;
  }
  .render{
      padding-top: 100px;
      padding-bottom: 160px;
  }
}
