<div class="product-container">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">
        <h1 class="title">¿Quieres el juego completo para tu equipo?</h1>
      </div>
      <div
        class="col-12"
        style="display: contents; margin-left: 41.3125%; margin-right: 41.3125%"
      >
        <a href="#collaborators" class="orange-btn"
          >Lo quiero</a
        >
      </div>
      <div class="col-12" style="text-align: center">
        <img class="render" src="assets/img/final-game/img-juegofinal@3x.png" />
      </div>
    </div>
  </div>
</div>
