<div class="introduction-container">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div
        class="scroll-container col-12 center-align"
        style="display: grid; place-items: center"
      >
        <ng-lottie
          class="scroll-logo"
          width="2.5rem"
          height="4rem"
          [options]="{ path: 'assets/animations/scroll.json' }"
        ></ng-lottie>
        <p class="scroll-text">Haz scroll</p>
      </div>
      <div class="col-12">
        <h1 class="description" style="margin-top: 5.75% !important">
          Poner en el centro a nuestros usuarios debería de ser la norma y no
          algo ocasional. Ahora, más que nunca, tenemos que entender al cliente,
          de verdad.
        </h1>
      </div>
      <div class="col-12">
        <h1 class="description">
          <span style="color: #50be87; font-size: 1.5rem"
            >everis services cards</span
          >
          nace como un ejercicio de aprendizaje, cuyo objetivo es que conozcas
          al detalle los servicios más idóneos para cada fase del diseño y
          entiendas los roles que forman un equipo de diseño.
        </h1>
      </div>
      <div class="col-12">
        <h1 class="description">
          Todo esto, de una forma lúdica y muy entretenida. ¿Jugamos?
        </h1>
      </div>
      <div class="col-12 center-align">
        <h1 class="introduction-title">Cómo funciona</h1>
      </div>
    </div>
    <div class="row row-cols-3 justify-content-center">
      <div
        *ngFor="let option of options"
        class="option-card col-sm-12 col-md-3"
      >
        <h1 class="title">
          {{ option.title }}
        </h1>
        <p class="work-description">
          {{ option.description }}
        </p>
        <a
          class="white-btn"
          style="
            justify-content: center;
            display: inline-flex;
            padding: 0.6875rem 1.3125rem;
          "
          href="{{ option.anchor }}"
          >Descubre más</a
        >
      </div>
    </div>
    <div class="row">
      <div class="col-12 center-align">
        <img class="render-box" src="assets/img/final-game/img-box@3x.png" />
      </div>
    </div>
  </div>
  <div class="floating-elements">
    <img class="floating-left" src="assets/img/floating/img-sticker@2x.png" />
    <img class="floating-right" src="assets/img/floating/img-skittles@2x.png" />
  </div>
</div>
