.carousel-card {
  width: 200px;
  height: 200px;
  background-color: white;
  margin: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  transition: all 250ms;
  &:hover {
    transform: scale(1.05);
  }
  .carousel-logo {
    width: 50px;
    height: 50px;
  }
  .carousel-title {
    font-family: "Mont-Bold";
  }
}
.slider-button {
  background-color: var(--orange-color);
  margin: 1rem 0rem;
  padding: 1rem 1.5rem;
  span {
    display: flex;
  }
  transition: all 250ms;
  &:hover {
    transform: scale(1.05);
  }
}
.modal-header {
  display: flex;
  flex-direction: column;
  background-color: var(--black-color);
  text-align: left;
}
.modal-body {
  text-align: left;
  li {
    list-style-position: inside;
  }
}
