<div id="services" class="services-container center-align">
  <h1 class="title">Servicios</h1>
  <p class="description">
    Para saber qué necesitan nuestros clientes, primero tenemos que entenderlos.
    La clave es saber qué servicio debemos aplicar en cada momento del proceso
    de diseño. Y aquí tienes una lista infinitaaaaaaa
  </p>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <app-services-carousel></app-services-carousel>
    </div>
  </div>
</div>
