.services-container {
  // height: 66.25rem;
  background-color: #000000;
  .title {
    padding-top: 4.375%;
    margin-bottom: 2%;
    font-family: "Mont-Bold";
    font-size: 70px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ff7900;
  }
  .description {
    margin-right: auto;
    margin-left: auto;
    width: 62.3125%;
    // margin-right: 13.8125%;
    // margin-left: 13.8125%;
    font-size: 26px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-bottom: 5%;
  }
}
