// COLORS

:root {
  --white-color: #ffffff;
  --black-color: #000000;
  --base-color: #c6538c;
  --primary-color: red;
  --secondary-color: yellow;
  --tertiary-color: blue;
  --everis-color: #b9d305;
  --orange-color: #ff7900;
}

.everis-color {
  color: var(--everis-color);
}
.orange-color {
  color: var(--orange-color);
}

// RESETS

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

// GLOBAL CLASSES

.center-align {
  text-align: center;
}
.orange-btn {
  background-color: var(--orange-color);
  padding: 1.5rem 1rem;

  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: -0.1px;
  text-align: center;
  color: #ffffff;
}
.white-btn {
  border: solid 2px #000000;
  background-color: var(--white-color);
  padding: 1.5rem 1rem;

  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: -0.1px;
  text-align: center;
  color: #000000;
}
