
// COLORS

:root 
{
--white-color: #ffffff;
--black-color: #000000;
--base-color: #c6538c;
--primary-color: red;
--secondary-color: yellow;
--tertiary-color: blue;
--everis-color: #b9d305;
--orange-color: #ff7900;
}

.everis-color{
  color: var(--everis-color);
}
.orange-color{
  color: var(--orange-color);
}

// RESETS

*{
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}