// -------- COLORS ---------------
:root {
  --white-color: #ffffff;
  --black-color: #000000;
  --base-color: #c6538c;
  --primary-color: red;
  --secondary-color: yellow;
  --tertiary-color: blue;
  --everis-color: #b9d305;
  --orange-color: #ff7900;
}
.everis-color {
  color: var(--everis-color);
}
.orange-color {
  color: var(--orange-color);
}

// -------- FONTS IMPORTS ---------------

@font-face {
  font-family: Mont-Bold;
  src: url('assets/fonts/Mont-Bold.ttf');
}

@font-face {
  font-family: Mont-SemiBold;
  src: url('assets/fonts/Mont-Semibold.ttf');
}

@font-face {
  font-family: Helvetica-Neue;
  src: url('assets/fonts/HelveticaNeue.ttc');
}

@font-face {
  font-family: Helvetica-Neue-option;
  src: url('assets/fonts/HelveticaNeueDeskInterface.ttc');
}

// -------- RESETS ---------------
*,
p,
img {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Mont-Semibold', 'Helvetica-Neue', Helvetica, sans-serif;
  color: var(--black-color);
}
img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

//NO SCROLLBAR
html {
  overflow-y:   scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

// GLOBAL CLASSES

.center-align {
  text-align: center;
}
.orange-btn {
  font-family: 'Helvetica-Neue';
  background-color: var(--orange-color);
  padding: 1rem 1.5rem;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.1px;
  text-align: center;
  color: #ffffff;
  transition: all 250ms;
  &:hover {
    color: #ffffff;
    background-color: #ffbb3c;
    text-decoration: none;
  }
}
.white-btn {
  font-family: 'Helvetica-Neue';
  border: solid 3px #000000;
  background-color: var(--white-color);
  padding: 1rem 1.5rem;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.1px;
  text-align: center;
  color: #000000;
  transition: all 250ms;
  &:hover {
    color: white;
    background-color: black;
    text-decoration: none;
  }
}
