.profiles-container {
  padding: 1.25% 13.875%;
  position: relative;
  margin-top: 18.5625%;
  margin-bottom: 0;
  .title {
    font-family: "Mont-Bold";
    font-size: 70px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
  }
  .description {
    margin-top: 2%;
    // margin-right: 13.875%;
    // margin-left: 13.875%;
    margin-right: auto;
    margin-left: auto;
    width: 62.3125%;
    font-size: 26px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
  }
  .profile-types {
    padding-top: 4%;
    padding-bottom: 4.5%;
    .profile-card {
      width: 17.5%;
      height: 24.625%;
      border-radius: 8px;
      border: solid 1px #e3e4ea;
      background-color: #ffffff;
    }
    img {
      width: 7.75%;
      height: 7.75%;
      object-fit: contain;
      margin-bottom: 1.375%;
      margin-top: 3%;
    }
    .title {
      font-family: "Mont-Bold";
      padding-bottom: 4.1875%;
      font-size: 26px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.15;
      letter-spacing: normal;
      text-align: center;
    }
  }
  .floating-left {
    width: 44.0625rem;
    height: 29.5625rem;
    object-fit: contain;
    position: absolute;
    left: 0%;
    top: -130%;
    z-index: 1;
  }
}

.cardHoverText {
  .title {
    font-family: "Mont-Bold";
    margin: 0;
    font-size: 15.2px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
  }
  .icon-values {
    display: flex;
    margin: 0.8125rem 0 1.3125rem 0;
    //justify-content: space-evenly;
    .icon {
      width: 1.25rem;
      height: 1.25rem;
      margin: 0 0.625rem;
    }
    .icon-faded {
      opacity: 0.45;
    }
  }
}

// TEST CARDS HOVER

/* Transistion both your normal and hovered elements to allow for smooth flow when unhovered */

.card {
  border-radius: 12px;
  background: white;
  margin-top: 4rem;
  height: 25rem;
  width: 17.5rem;
  transition: 0.6s all ease;
  margin-left: auto;
  margin-right: auto;
  border-color: #e3e4ea;
}

/* I used background url to allow me to change the height and width without needing extra css */

.cardTop {
  border-radius: 12px 12px 0px 0px;
  transition: 0.4s all ease;
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 7.75rem;
    height: 7.75rem;
    object-fit: contain;
    margin-bottom: 1.375rem;
    margin-top: 3rem;
  }
  .title {
    font-family: "Mont-Bold";
    padding-bottom: 4.1875rem;
    font-size: 26px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: normal;
    text-align: center;
  }
}

.cardBottom {
  height: 35%;
  text-wrap: normal;
  transition: 0.4s all ease;
}

.hover-target {
  border: solid 3px black;
  img {
    width: 1.25rem;
    height: 1.25rem;
    margin: 0.625rem;
  }
}

.cardText {
  border-radius: 12px;
  min-height: 100%;
  padding: 25px;
}

.cardTitle {
  font-size: 24px;
  font-weight: 700;
}

.cardInfo {
  padding-top: 0.625rem;
  font-size: 18px;
  font-weight: 500;
  color: orange;
}

/* Hidding the entire so anything we put in will only show on hover */

.cardHoverText {
  visibility: hidden;
  .download-button {
    text-decoration: none;
    margin-top: 0.9375rem;
    float: left;
    border: solid 2px black;
    padding: 0.625rem 1.25rem;
    font-family: "Helvetica-Neue";
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: -0.1px;
    color: black;
  }
}

/* Hover affects */

// .card:hover {
//   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
// }

/* Using className + hover followed by child element allows you to change child elements when parent is hovered */

.card .cardHoverText {
  transition-delay: 0s;
  opacity: 0;
  transition: 0.4s all ease;
}
.card:hover .cardHoverText {
  visibility: visible;
  transition: 0.4s all ease;
  transition-delay: 0.1999s;
  opacity: 1;
}

.card:hover .cardBottom {
  transition: 0.4s all ease;
  height: 100%;
  opacity: 1;
  .cardText {
    background-color: white;
  }
}

.card:hover .cardTop {
  height: 0%;
  opacity: 0;
  transition: 0.4s all ease;
}
