<div class="home-container">
  <div class="content-elements container">
    <div class="row">
      <div class="col-12 center-align">
        <img class="cards-logo" src="assets/img/home/img-logo-blanco.svg" />
      </div>
      <div class="col-12 center-align">
        <img class="main-title" src="assets/img/home/img-logo-text.svg" />
      </div>
      <div class="col-12 center-align">
        <h1 class="description everis-color center-align">
          No hay mejor forma de entender al cliente que diseñar siempre pensando
          en él.
        </h1>
      </div>
    </div>
  </div>
  <div class="floating-elements">
    <img class="floating-left" src="assets/img/floating/img-cartas-izqda@2x.png" />
    <img class="floating-right" src="assets/img/floating/img-cartas-dcha@2x.png" />
  </div>
</div>
