<div class="home-container">
  <div class="content-elements container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 center-align">
        <img class="cards-logo" src="assets/img/home/img-logo-blanco.svg" />
      </div>
      <div class="col-12 center-align">
        <img class="main-title" src="assets/img/home/img-logo-text.svg" />
      </div>
      <div class="col-12 center-align">
        <h1 class="description white-color center-align">
          Una idea de <span style="font-size: 1.5rem;" class="everis-color">everis</span> creada desde
          casa, para <span style="font-size: 1.5rem;" class="orange-color">Orange</span>, con mucho L<span style="font-size: 1.5rem;"
            class="orange-color"
            >o</span
          >ve.
        </h1>
      </div>
    </div>
  </div>
  <div class="floating-elements">
    <img
      class="floating-left"
      src="assets/img/floating/img-cartas-izqda@2x.png"
    />
    <img
      class="floating-right"
      src="assets/img/floating/img-cartas-dcha@2x.png"
    />
  </div>
</div>
