.card-quizz-container {
  background-color: var(--white-color);
  .title {
    font-family: 'Mont-Bold';
    padding-bottom: 68px;
    font-size: 50px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
  }
  .card-theme {
    padding: 0;
    margin: 10px;
    margin-bottom: 105px;
    width: 458px;
    height: 675px;
    position: relative;
    transform-style: preserve-3d;
    transition: 600ms ease-in-out;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .card-theme:hover .face-theme.front-theme {
    transform: perspective(500px) rotateY(180deg);
  }
  .card-theme:hover .face-theme.back-theme {
    transform: perspective(500px) rotateY(360deg);
  }
  .card-theme .face-theme {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: 600ms ease-in-out;
    z-index: 1;
    transform: perspective(500px) rotateY(0deg);
  }
  .card-theme .face-theme.front-theme {
    background: gray;
  }
  .card-theme .face-theme.back-theme {
    background: red;
    transform: perspective(500px) rotateY(180deg);
  }
}
